

<p>Agregar personaje</p>
<form class="row" (ngSubmit)="NuevoRegistro()">

      <h4>FORMULARIOS</h4>

      <input type="text"
      [(ngModel)]="character.nombre"
      name="nombre"
      class="form-control mb-2"
      placeholder="Nombre">


      <input type="number"
      [(ngModel)]="character.poder"
      name="poder"
      class="form-control mb-2"
      placeholder="Poder">

      <input type="number"
      [(ngModel)]="character.edad"
      name="edad"
      class="form-control mb-2"
      placeholder="Edad">


      <button type="submit" class="btn btn-primary"   >
        Agregar
      </button>


    <pre>{{character | json }}</pre>


</form>
